body {
    background-color: rgb(254, 149, 149);
    color: #400101;
}

h1 {
    color: #8d0000;
}

.Introdução {

}

.Historia {

}

.Habilidades {

}

.Caracteristicas {

}

.Curiosidades {
    
}